html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.weather-notice {
  font-size: 32px;
  margin-bottom: 36px;
}

.weather-form__control {
  display: flex;
  flex-direction: column;
}

.weather-form__control label {
  margin-bottom: 12px;
}

.weather-form__control input {
  padding: 12px 20px;
  width: 600px;
  border: 1px solid grey;
  border-radius: 20px;
  margin-bottom: 24px;
  height: 48px;
}

.weather-form__control button {
  background: #ff6319;
  border-radius: 0 20px 20px 0;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 48px;
}

.weather-form__input {
  position: relative;
}

.is--loading .site-loader {
  opacity: 1;
}

.site-loader {
  opacity: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner div {
  position: absolute;
  border: 4px solid #ff6319;
  opacity: 1;
  border-radius: 50%;
  animation: spinning 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.spinner div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes spinning {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
