{{content}}
<p class="weather-notice"></p>

<form class="weather-form">
  <div class="weather-form__control">
    <label for="weather-input">Please enter your city/town (US only)</label>
    <div class="weather-form__input">
      <input
        type="search"
        id="weather-input"
        name="weather-input"
        placeholder="e.g. Boston"
      />
      <button type="submit">Fetch Weather</button>
    </div>

  </div>
</form>