<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js" defer></script>
  </head>
  <body>
    {{> header}}
    <main>
      {{{body}}}
    </main>
    {{> footer}}
    {{> loader}}
  </body>
</html>